/**
 * Komponente: hero-2col
 */

.tjs-hero-2col {
    background-color: #f5f5f5;
    padding: 2rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e5e5e5;

    .tjs__start {

    }
    .tjs__end {

    }

    .tjs__wrapper {

    }

  &.mobile {

  }
}
