/* Diese Datei wird per Webpack an /dist/style.css veröffentlicht */

// Komponenten nachfolgend importieren:
@import "variables";
@import "./header-2col";

main {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    color: $text-color;
}
.arrow-link {
    color: $primary;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
.header-image {
    text-align: left;
    font-family: Roboto;
    letter-spacing: 0px;
    background: transparent linear-gradient(118deg, #E8F6FF 0%, #ECF2DC 100%) 0% 0% no-repeat padding-box;
    blockquote {
        font-size: calc(1.5em + 1vw);
        font-weight: bold;
        color: $text-color;
    }
    &.mobile {
        text-align: center;
    }
    .btn-primary {
        background-color: #41C7A8;
        border: none;
        color: #fff;
        font-size: 14px;
        padding: 10px 35px;
        &:hover {
            background-color: #41C7A8;
        }

    }
}
.banner {
    padding: 0.3rem;
    background-color: $bg-dark;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 50px;
    span {
        color: #41C7A8;
    }
}

.fiver {
    font-size: 18px;
    margin-bottom: 50px;

    blockquote {
        font-size: 25px;
        margin-bottom: 40px;
        text-align: center;
        span {
            display: block;
            font-weight: 500;
        }
    }
    .icon {
        width: 112px;
        height: 112px;
        padding: 28px;
        border-radius: 66px;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #EDEDED;
        margin-bottom: 20px;
        display: flex;
        img {
            width: -webkit-fill-available;
            width: moz-available;
            object-fit: contain;
        }
    }
    &.mobile {
        .col {
            display: flex;
            margin-bottom: 20px;
        }
        .icon {
            margin-bottom: 0;
        }
        .text {
            width: inherit;
            text-align: left;
            padding-left: 2em;
            align-self: center;
        }
    }
}

.image-text {
    margin-bottom: 50px;
    &.mobile {
        margin-bottom: 0;
        .row > div {
            margin-bottom: 50px;
        }
        
    }
}

.dark-box {
    background: $bg-dark;
    border-radius: 20px;
    position: relative;
    padding: 30px;
    margin-bottom: 50px;
    .dark-border {
        position: absolute;
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        border: 1px solid $primary;
        border-radius: 20px;
        top: 10px;
        left: 10px;
    }
    blockquote {
        color: $primary;
        font-size: 2em;
    }
    p {
        color: $text-light;
    }
}